.vscode/
*.ko*
*.o
modules.order
*.symvers
*.cmd
*.tmp_versions*
*.mod.c
#*.dat
NA/
.Xil/
vivado*.jou
vivado*.log
Vivado_def_val.txt
Vivado_dump.txt
vivado*.str

# Comment the next two lines for the final submission, so that the final bitstreams are included in the repo.
*.bit
*.hwh


